<h1> Hello here are your tasks </h1>

 <% @tasks.each do |task| %>
  <ul>
    <% if task.completed %>
    <i class="fas fa-check"></i>    <%= link_to task.title, task_path(task)%>
       <% else %> <i class="far fa-square"></i> <%= link_to task.title, task_path(task) %>
  </ul>
  <% end %>
<% end %>








